<!DOCTYPE html>
<html>

<head>
  <title>Sesame</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "Montserrat", sans-serif
    }

    .w3-row-padding img {
      margin-bottom: 12px
    }

    .bgimg {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      min-height: 100%;
    }
  </style>
</head>

<body>

  <!-- Page Content -->
  <div class="w3-main w3-padding-large">

    <!-- Header -->
    <header class="w3-container w3-center" style="padding:60px" id="home">
      <h1 class="w3-xxxlarge"><b><a href="{{ url_for('index') }}">Sésame, ouvre-toi !</a></b></h1>
      <p>with FaceNet.</p>

      <!-- Upload form -->
      <div class="w3-container w3-padding-48 w3-center w3-light-grey">
        <h2>Upload Image</h2>
        <form class="w3-container" method="POST" action="/matches" enctype="multipart/form-data"
          onsubmit="return checkImageSelected()">
          <input type="file" name="image" id="image" style="margin:14px">
          <input type="submit" value="Find Matches" style="margin:14px">
        </form>
      </div>


      {% if matches %}

      <div class="w3-container w3-light-grey" style="margin-top:15px">
        <img src="data:image/png;base64,{{ image }}" alt="Uploaded image" style="max-width: 300px; margin-top:15px">
        <h2>Avec un score de similarité de {{ matches[0][1] }} </h2>

        {% if matches[0][1] < 0.3 %} <h1>Vous êtes reconnu !</h1>
          {% else %}
          <h1>Vous n'êtes pas reconnu !</h1>
          {% endif %}
      </div>


      <div class="w3-container w3-light-grey" style="margin-top:15px">
        <h2>Top 3 des ressemblances dans la base de données.</h2>

        <div class="w3-row ">

          <div class="w3-col s4 w3-center">
            <img src="{{ matches[0][0] }}" alt="Matched image" style="max-width: 160px">
            <p>Distance: {{ matches[0][1] }}</p>
          </div>
          <div class="w3-col s4 w3-center">
            <img src="{{ matches[1][0] }}" alt="Matched image" style="max-width: 160px">
            <p>Distance: {{ matches[1][1] }}</p>
          </div>
          <div class="w3-col s4 w3-center">
            <img src="{{ matches[2][0] }}" alt="Matched image" style="max-width: 160px">
            <p>Distance: {{ matches[2][1] }}</p>
          </div>

        </div>
      </div>

      {% endif %}

      <!-- Footer -->
      <footer class="w3-container w3-padding-36 w3-opacity w3-large" style="margin:28px">
        <i class="fa fa-github w3-jumbo"></i>
        <p class="w3-medium">Powered by <a href="https://github.com/Hatchi-Kin" target="_blank"
            class="w3-hover-text-green">Hatchi-Kin</a></p>
      </footer>

      <!-- Dirty Javascript -->
      <script>
        function checkImageSelected() {
          var image = document.getElementById("image");
          if (image.value == "") {
            alert("Please select an image file.");
            return false;
          }
          return true;
        }
      </script>
</body>

</html>